@tailwind base;
@tailwind components;
@tailwind utilities;

.code-block {
    padding: 1em;
    background-color: #2d2d2d;
    border: 1px solid #444;
    border-radius: 5px;
    margin: 1em 0;
  }
  .text-center {
    text-align: center;
  }
  .text-3xl {
    font-size: 1.875rem;
  }
  .my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  body {
    background-color: #121212; /* Dark background */
    color: white; /* Default text color */
    size: 12px;
    font-family: 'monospace' ;
  }

  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}